#!/usr/bin/make -f

TEST_FILES=$(filter-out t/remote-files.t,$(shell echo t/*.t))

TEXMFVAR := $(shell mktemp -d)
export TEXMFVAR

%:
	dh $@ --with tex

override_dh_auto_build:
	dh_auto_build
	# does not work at the moment
	cd doc && lualatex biber.tex && lualatex biber.tex && lualatex biber.tex
	
override_dh_auto_test:
	dh_auto_test -- test_files="$(TEST_FILES)"
